Checks: >
  clang-diagnostic-*,
  bugprone-*,
  misc-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-magic-numbers,
  modernize-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-implicit-bool-conversion,
  -readability-enum-initial-value,
  -cppcoreguidelines-owning-memory,
  -misc-no-recursion,
  -modernize-use-nodiscard

FormatStyle: file

CheckOptions:
  readability-magic-numbers.IgnoredIntegerValues: '0;1;2;-1'
  readability-magic-numbers.IgnoredFloatingPointValues: '0.0;1.0'
  readability-magic-numbers.IgnoredVariableNames: '^std_.*'
  readability-function-cognitive-complexity.Threshold: '60'

# Generates way too many invalid warnings
#  -readability-implicit-bool-conversion,
#  -readability-enum-initial-value

# Between running two compilers and CodeQL, this probably isn't going to be useful
# clang-analyzer-*
