Checks: >
  clang-diagnostic-*,
  bugprone-*,
  misc-*,
  performance-*,
  portability-*,
  readability-*,
  modernize-*,
  cppcoreguidelines-*,
  -readability-implicit-bool-conversion,
  -readability-enum-initial-value

FormatStyle: file

# Generates way too many invalid warnings
#  -readability-implicit-bool-conversion,
#  -readability-enum-initial-value

# Between running two compilers and CodeQL, this probably isn't going to be useful
# clang-analyzer-*
