# Directories to ignore
bld/
.private/
__pycache__/

# File extensions to ignore
*.1
*.3tiff
*.backup
*.bak
*.bat
*.btm
*.chm
*.cmakein
*.cmd
*.com
*.db
*.dll
*.exe
*.exp
*.gch
*.g3
*.gif
*.html
*.ilk
*.in
*.ini
*.jpg
*.lib
*.m4
*.map
*.mms
*.obj
*.ocx
*.opendb
*.pch
*.pdb
*.pdf
*.pgc
*.pgd
*.pbm
*.pgm
*.ppm
*.ps
*.res
*.rtf
*.sh
*.spec
*.tiff
*.tmp
*.ttBld
*.txt
*.zip

makefile.*
makefile
TODO
RELEASE-DATE
SConstruct
*-RELEASE

# Ignore generated DialogBlocks code files -- we just want the project file
tests/DialogBlocks/sdi/*.cpp
tests/DialogBlocks/sdi/*.h
tests/DialogBlocks/sdi/*.rc
tests/DialogBlocks/sdi/*.xrc

# cmake
CMakeFiles/
build/

# CodeBlock files
*.cbp
*.depend
*.layout

# CodeLite files
.codelite/
*.project
*.workspace

# Eclipse project files
.project
.cproject

# SublimeText project files
*.sublime-project
*.sublime-workspace

# VSCode files
.vscode/
*.code-workspace
*.code-search

# Visual Studio files and folders
# Get latest from https://github.com/github/gitignore/blob/master/VisualStudio.gitignore

# User-specific files
*.filters
*.rsuser
*.sln
*.sln.docstates
*.suo
*.user
*.userosscache
*.vcproj
*.vcxproj

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015/2017 cache/options directory
.vs/

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# Visual Studio Trace Files
*.e2e

# Visual Studio code coverage results
*.coverage
*.coveragexml

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!?*.[Cc]ache/

# MSBuild Binary and Structured Log
*.binlog
