[Desktop Entry]
Name=wxUiEditor
Comment=Start wxUiEditor
Exec=/usr/bin/wxUiEditor
Icon=/usr/bin/wxUiEditor
Terminal=false
Type=Application
Categories=Development;Application;
