setup.h

build/
buildgtk/

*.bak

# /include/
include/Makefile.in
include/*.mch

# /include/wx/
include/wx/Makefile.in

# /include/wx/generic/
include/wx/generic/Makefile.in

# /include/wx/gtk/
include/wx/gtk/Makefile.in

# /include/wx/gtk1/
/include/wx/gtk1/Makefile.in

# /include/wx/html/
include/wx/html/Makefile.in

# /include/wx/motif/
include/wx/motif/Makefile.in

# /include/wx/msw/
include/wx/msw/Makefile.in
include/wx/msw/Makefile

# /include/wx/protocol/
include/wx/protocol/Makefile.in

# /include/wx/unix/
include/wx/unix/Makefile.in

# /src/
src/FreeBSD
src/[Ll]inux
src/linux-gnu
src/Makefile.in
src/*.lo
src/*.la
src/make.env
src/makeprog.env
src/makelib.env
src/ReleaseDebug
src/wxwindowsM*Data
src/wxwindowsM5.mcp
src/build
src/*.ncb
src/*.opt
src/*.plg

# /src/common/
src/common/y_tab.c

# /src/gtk/
src/gtk/Makefile.in
src/gtk/*.lo
src/gtk/*.la

# /src/gtk1/
src/gtk1/Makefile.in
src/gtk1/*.lo
src/gtk1/*.la

# /src/jpeg/
src/jpeg/jpegM*Data
src/jpeg/jpegM5.mcp
src/jpeg/Debug
src/jpeg/Release

# /src/motif/
src/motif/Makefile.in

# /src/msw/
src/msw/Makefile.in

# /src/regex/
src/regex/Debug
src/regex/Release
src/regex/*.vcl

# /src/zlib/
src/zlib/zlibM*Data
src/zlib/zlibM5.mcp
src/zlib/Debug
src/zlib/Release

# CodeBlock files
*.cbp
*.depend
*.layout

# CodeLite files
.codelite/
*.project
*.workspace

# Eclipse project files
.project
.cproject

# SublimeText project files
*.sublime-project
*.sublime-workspace

# VSCode files
.vscode/
*.code-workspace
*.code-search
