
// These dialogs and menus had problems at one point, so we want to be certain that they still work. However, since they come
// from multiple resource files across multiple repositories, it's impractical to keep all of the header files. That means
// that there isn't a good way to know what the original dialog looked like -- it's simply a matter of taking a quick look to
// see if these dialogs look reasonable.

/////////////////////////////////////////////////////////////////////////////
//
// Menus
//

IDM_EDITMENU MENU DISCARDABLE
BEGIN
    POPUP "Edit"
    BEGIN
        MENUITEM "&Open\tEnter",                IDM_OPEN
        MENUITEM "Cu&t",                        IDM_CUTEDITWINDOW
        MENUITEM "&Copy",                       IDM_COPYEDITWINDOW
        MENUITEM "P&aste",                      IDM_PASTEEDITWINDOW
        MENUITEM "Clea&r Window",               IDM_CLEAREDITWINDOW
        MENUITEM SEPARATOR
        MENUITEM "&OpenRowset...\tCtrl+O",      IDM_OPENROWSET
        MENUITEM "&Execute...\tCtrl+E",         IDM_EXECUTE
        MENUITEM SEPARATOR
        MENUITEM "Provider &QuickInfo",         IDM_PROVIDERINFO
        MENUITEM "&File Browse...",             IDM_BROWSE_TABLENAME
        MENUITEM "&All File Details",           IDM_VDETAILS, CHECKED, INACTIVE
        POPUP "MSPersist"
        BEGIN
            MENUITEM "&Save Rowset",                IDM_MSPERSIST_ROWSET_SAVE
            MENUITEM "Load Rowset",                 IDM_MSPERSIST_ROWSET_LOAD
        END
#ifdef PROGMAN
        MENUITEM    SEPARATOR
        MENUITEM    "Save Settings &Now",       IDM_SAVENOW
#endif
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// Dialogs
//
// Note that in most cases, the CAPTION describes what is being checked.

IDD_CONFIRMDELETE DIALOG DISCARDABLE  0, 0, 231, 55
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Test standard icon conversion"
FONT 8, "MS Sans Serif"
BEGIN
    ICON            32515,IDC_STATIC,7,7,18,20
    CTEXT           "",IDC_MESSAGE,31,7,193,18
    DEFPUSHBUTTON   "Don't Delete",IDCANCEL,7,34,67,14
    PUSHBUTTON      "Delete!",IDC_DELETE,174,34,50,14
END

IDD_EDIT_REPLACE DIALOGEX 36, 44, 304, 90
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Test: Convert multiple rows to flex grid"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "Fi&nd what:",IDC_STATIC,7,9,65,8
    COMBOBOX        IDC_EDIT_FINDTEXT,75,7,165,66,CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Re&place with:",IDC_STATIC,7,24,65,8
    COMBOBOX        IDC_EDIT_REPLACE_WITH,75,22,165,66,CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Match &whole word only",IDC_EDIT_WHOLE_WORD,"Button",BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP,7,44,135,10
    CONTROL         "Match &case",IDC_EDIT_MATCH_CASE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,54,135,10
    CONTROL         "Regular &expression",IDC_EDIT_REGEXP,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,64,135,10
    CONTROL         "&Don't wrap end of file",IDC_EDIT_SCOPE_DONT_WRAP,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,74,135,10
    GROUPBOX        "Replace in",IDC_STATIC,149,40,90,36,WS_GROUP
    CONTROL         "&Selection",IDC_EDIT_SCOPE_SELECTION,"Button",BS_AUTORADIOBUTTON | WS_GROUP,154,51,80,10
    CONTROL         "Wh&ole file",IDC_EDIT_SCOPE_WHOLE_FILE,"Button",BS_AUTORADIOBUTTON,154,61,80,10
    DEFPUSHBUTTON   "&Find Next",IDC_EDIT_SKIP,247,7,50,14,WS_GROUP
    PUSHBUTTON      "&Replace",IDC_EDIT_REPLACE,247,24,50,14
    PUSHBUTTON      "Replace &All",IDC_EDIT_REPLACE_ALL,247,41,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,247,58,50,14
END

// https://github.com/coddec/Classic-Shell/blob/master/ClassicShellSrc/ClassicShellLib/ClassicShellLib.rc

IDD_SETTINGS DIALOGEX 0, 0, 381, 213
STYLE DS_SETFONT | DS_SETFOREGROUND | DS_CENTER | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP | WS_CLIPCHILDREN | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
EXSTYLE WS_EX_CONTROLPARENT
CAPTION "Test: SysLink controls"
FONT 9, "Segoe UI", 400, 0, 0x0
BEGIN
    ICON            "",IDC_ICONSEARCH,7,9,20,20
    EDITTEXT        IDC_EDITSEARCH,22,7,120,12,ES_AUTOHSCROLL
    CONTROL         "Show all settings",IDC_CHECKALL,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,154,7,79,12
    CONTROL         "<a>Help...</a>",IDC_LINKHELP,"SysLink",WS_TABSTOP,348,9,26,10,WS_EX_TRANSPARENT
    CONTROL         "",IDC_TABSETTINGS,"SysTabControl32",TCS_MULTILINE | TCS_FOCUSNEVER,7,20,367,169
    CONTROL         "<a>www.classicshell.net</a>",IDC_LINKWEB,"SysLink",WS_TABSTOP,7,195,66,10,WS_EX_TRANSPARENT
    CONTROL         "Name of translator goes <a ref=""http://www.yoursite.com"">here</a>",IDC_SYSLINKLOC,
                    "SysLink",NOT WS_VISIBLE | WS_TABSTOP,80,195,111,10
    PUSHBUTTON      "&Backup",IDC_BUTTONBACKUP,200,192,60,14,WS_GROUP
    DEFPUSHBUTTON   "OK",IDOK,267,192,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,324,192,50,14
END

// https://github.com/microsoft/Windows-classic-samples/Samples/EapHostSupplicant/cpp/EapHostSupplicant.rc

IDD_DIALOG DIALOG DISCARDABLE  0, 0, 329, 198
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Installed Eap Methods"
FONT 8, "MS Shell Dlg"
BEGIN
    LISTBOX         IDC_METHODLIST,22,22,191,79, LBS_NOINTEGRALHEIGHT |
                    WS_VSCROLL
    PUSHBUTTON      "Properties",IDC_PROPERTIES,236,33,50,14
    PUSHBUTTON      "Configure",IDC_CONFIGURE,239,66,50,14
    LTEXT           "",IDC_PROPERTYTEXT,23,111,100,75
    PUSHBUTTON      "Exit",IDC_EXITDIALOG,236,175,50,14
END

// https://github.com/microsoft/Windows-classic-samples/Samples/Win7Samples/dataaccess/oledb/rowsetviewer/rowsetviewer.rc

IDD_GETLISTVIEW DIALOG DISCARDABLE  0, 0, 334, 200
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Centered text: parent sizer needs wxExpand"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "List1",IDL_NAMES,"SysListView32",LVS_REPORT |
                    LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP,5,5,105,170
    CONTROL         "List1",IDL_VALUES,"SysListView32",LVS_REPORT |
                    LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP,110,5,220,170
    CTEXT           "Displays the rgBindings from the Accessor",IDT_HELPMSG,
                    5,180,270,14,SS_CENTERIMAGE | SS_SUNKEN
    DEFPUSHBUTTON   "OK",IDOK,280,180,50,14
END

IDD_ADDCOLUMN DIALOG DISCARDABLE  0, 0, 209, 175
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Test two aligned columns"
FONT 8, "MS Shell Dlg"
BEGIN
    CTEXT           "TableID:",IDT_STATIC,10,10,57,12,SS_CENTERIMAGE |
                    SS_SUNKEN
    EDITTEXT        IDE_TABLEID,68,10,130,12,ES_MULTILINE | ES_AUTOHSCROLL |
                    WS_VSCROLL
    CTEXT           "ColumnID:",IDT_STATIC2,10,27,57,12,SS_CENTERIMAGE |
                    SS_SUNKEN
    EDITTEXT        IDE_COLUMNID,68,27,130,12,ES_AUTOHSCROLL
    CTEXT           "pwszTypeName:",IDT_STATIC3,10,44,57,12,SS_CENTERIMAGE |
                    SS_SUNKEN
    COMBOBOX        IDC_TYPENAME,68,44,130,150,CBS_DROPDOWN |
                    CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
    CTEXT           "wType:",IDT_STATIC4,10,61,57,12,SS_CENTERIMAGE |
                    SS_SUNKEN
    COMBOBOX        IDC_TYPE,68,61,130,150,CBS_DROPDOWN | CBS_AUTOHSCROLL |
                    WS_VSCROLL | WS_TABSTOP
    CTEXT           "ColumnSize:",IDT_STATIC6,10,78,57,12,SS_CENTERIMAGE |
                    SS_SUNKEN
    EDITTEXT        IDE_SIZE,68,78,130,12,ES_AUTOHSCROLL
    CTEXT           "Precision:",IDT_STATIC7,10,95,57,12,SS_CENTERIMAGE |
                    SS_SUNKEN
    EDITTEXT        IDE_PRECISION,68,95,130,12,ES_AUTOHSCROLL
    CTEXT           "Scale:",IDT_STATIC8,10,112,57,12,SS_CENTERIMAGE |
                    SS_SUNKEN
    EDITTEXT        IDE_SCALE,68,112,130,12,ES_AUTOHSCROLL
    CONTROL         "Use Properties",IDB_USEPROPERTIES,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,10,134,85,10
    PUSHBUTTON      "&Properties...",IDB_SETPROPERTIES,10,151,50,14
    DEFPUSHBUTTON   "OK",IDOK,90,151,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,140,151,50,14
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
    IDM_VDETAILS            "Include all possible details"
END
