
// These dialogs and menus had problems at one point, so we want to be certain that they still work. However, since they come
// from multiple resource files across multiple repositories, it's impractical to keep all of the header files. That means
// that there isn't a good way to know what the original dialog looked like -- it's simply a matter of taking a quick look to
// see if these dialogs look reasonable.

/////////////////////////////////////////////////////////////////////////////
//
// Menus
//

IDM_EDITMENU MENU DISCARDABLE
BEGIN
    POPUP "Edit"
    BEGIN
        MENUITEM "&Open\tEnter",                IDM_OPEN
        MENUITEM "Cu&t",                        IDM_CUTEDITWINDOW
        MENUITEM "&Copy",                       IDM_COPYEDITWINDOW
        MENUITEM "P&aste",                      IDM_PASTEEDITWINDOW
        MENUITEM "Clea&r Window",               IDM_CLEAREDITWINDOW
        MENUITEM SEPARATOR
        MENUITEM "&OpenRowset...\tCtrl+O",      IDM_OPENROWSET
        MENUITEM "&Execute...\tCtrl+E",         IDM_EXECUTE
        MENUITEM SEPARATOR
        MENUITEM "Provider &QuickInfo",         IDM_PROVIDERINFO
        MENUITEM "&File Browse...",             IDM_BROWSE_TABLENAME
        MENUITEM "&All File Details",           IDM_VDETAILS, CHECKED, INACTIVE
        POPUP "MSPersist"
        BEGIN
            MENUITEM "&Save Rowset",                IDM_MSPERSIST_ROWSET_SAVE
            MENUITEM "Load Rowset",                 IDM_MSPERSIST_ROWSET_LOAD
        END
#ifdef PROGMAN
        MENUITEM    SEPARATOR
        MENUITEM    "Save Settings &Now",       IDM_SAVENOW
#endif
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// Dialogs
//
// Note that in most cases, the CAPTION describes what is being checked.

// https://github.com/notepad-plus-plus/notepad-plus-plus/blob/master/PowerEditor/src/WinControls/ColourPicker/WordStyleDlg.rc

IDD_AAASTYLER_DLG DIALOGEX 36, 44, 500, 246
STYLE DS_SETFONT | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Style Configurator"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
	LTEXT           "Select theme : ",IDC_SWITCH2THEME_STATIC,6,9,83,8,0,WS_EX_RIGHT
    COMBOBOX        IDC_SWITCH2THEME_COMBO,95,7,104,78,CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Foreground colour",IDC_FG_STATIC,203,72,59,8,0,WS_EX_RIGHT
    LTEXT           "Background colour",IDC_BG_STATIC,203,99,59,8,0,WS_EX_RIGHT
    COMBOBOX        IDC_FONT_COMBO,371,68,104,78,CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_FONTSIZE_COMBO,442,95,33,82,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Bold",IDC_BOLD_CHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,327,88,63,10
    CONTROL         "Italic",IDC_ITALIC_CHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,327,100,62,10
    GROUPBOX        "Font Style",IDC_FONTGROUP_STATIC,311,52,169,77
    GROUPBOX        "Colour Style",IDC_COLOURGROUP_STATIC,191,52,111,77
    LTEXT           "Font name :",IDC_FONTNAME_STATIC,315,71,52,8,0,WS_EX_RIGHT
    LTEXT           "Font size :",IDC_FONTSIZE_STATIC,388,97,51,8,0,WS_EX_RIGHT
    LTEXT           "Style :",IDC_STYLEDESC_STATIC,87,34,68,8
    LTEXT           "                                                                                                                      ",IDC_STYLEDESCRIPTION_STATIC,190,30,295,22
    EDITTEXT        IDC_DEF_EXT_EDIT,17,215,61,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "Default ext. : ",IDC_DEF_EXT_STATIC,20,203,61,8
    EDITTEXT        IDC_USER_EXT_EDIT,93,215,71,14,ES_AUTOHSCROLL
    LTEXT           "User ext. :",IDC_USER_EXT_STATIC,95,204,71,8
    CONTROL         "Underline",IDC_UNDERLINE_CHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,327,112,80,10
    EDITTEXT        IDC_DEF_KEYWORDS_EDIT,191,151,136,43,ES_MULTILINE | ES_READONLY | WS_VSCROLL
    EDITTEXT        IDC_USER_KEYWORDS_EDIT,347,150,134,43,ES_MULTILINE | WS_VSCROLL
    LTEXT           "Default keywords",IDC_DEF_KEYWORDS_STATIC,193,141,122,8
    LTEXT           "User-defined keywords",IDC_USER_KEYWORDS_STATIC,349,140,126,8
    LTEXT           "+",IDC_PLUSSYMBOL_STATIC,335,166,8,8
    PUSHBUTTON      "Cancel",IDCANCEL,332,222,57,14
    PUSHBUTTON      "Save && Close",IDC_SAVECLOSE_BUTTON,255,222,69,14
    CONTROL         "",IDC_SC_PERCENTAGE_SLIDER,"msctls_trackbar32",TBS_BOTH | TBS_NOTICKS | NOT WS_VISIBLE | WS_TABSTOP,441,235,53,10
    CONTROL         "Transparency",IDC_SC_TRANSPARENT_CHECK,"Button",BS_AUTOCHECKBOX | NOT WS_VISIBLE | WS_TABSTOP,431,221,63,10
    LISTBOX         IDC_LANGUAGES_LIST,17,46,59,146,LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LISTBOX         IDC_STYLES_LIST,87,46,76,146,LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP
    GROUPBOX        "",IDC_STATIC,7,24,166,212
    LTEXT           "Language :",IDC_LANGDESC_STATIC,19,34,61,8
    GROUPBOX        "",IDC_STATIC,181,24,310,184
    LTEXT           "+",IDC_PLUSSYMBOL2_STATIC,83,217,8,8
    CONTROL         "Enable global foreground colour",IDC_GLOBAL_FG_CHECK,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,191,138,132,10
    CONTROL         "Enable global background colour",IDC_GLOBAL_BG_CHECK,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,191,153,131,10
    CONTROL         "Enable global font",IDC_GLOBAL_FONT_CHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,327,134,153,10
    CONTROL         "Enable global font size",IDC_GLOBAL_FONTSIZE_CHECK,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,327,149,135,10
    CONTROL         "Enable global bold font style",IDC_GLOBAL_BOLD_CHECK,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,328,164,135,10
    CONTROL         "Enable global italic font style",IDC_GLOBAL_ITALIC_CHECK,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,328,179,135,10
    CONTROL         "Enable global underline font style",IDC_GLOBAL_UNDERLINE_CHECK,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,328,194,135,10
END

// https://github.com/microsoft/Windows-classic-samples/Samples/EapHostSupplicant/cpp/EapHostSupplicant.rc

IDD_aaDIALOG DIALOG DISCARDABLE  0, 0, 329, 198
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Installed Eap Methods"
FONT 8, "MS Shell Dlg"
BEGIN
    LISTBOX         IDC_METHODLIST,22,22,191,79, LBS_NOINTEGRALHEIGHT |
                    WS_VSCROLL
    PUSHBUTTON      "Properties",IDC_PROPERTIES,236,33,50,14
    PUSHBUTTON      "Configure",IDC_CONFIGURE,239,66,50,14
    LTEXT           "",IDC_PROPERTYTEXT,23,111,100,75
    PUSHBUTTON      "Exit",IDC_EXITDIALOG,236,175,50,14
END

// https://github.com/microsoft/Windows-classic-samples/Samples/Win7Samples/dataaccess/oledb/rowsetviewer/rowsetviewer.rc

IDD_GETLISTVIEW DIALOG DISCARDABLE  0, 0, 334, 200
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Centered text: parent sizer needs wxExpand"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "List1",IDL_NAMES,"SysListView32",LVS_REPORT |
                    LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP,5,5,105,170
    CONTROL         "List1",IDL_VALUES,"SysListView32",LVS_REPORT |
                    LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP,110,5,220,170
    CTEXT           "Displays the rgBindings from the Accessor",IDT_HELPMSG,
                    5,180,270,14,SS_CENTERIMAGE | SS_SUNKEN
    DEFPUSHBUTTON   "OK",IDOK,280,180,50,14
END

IDD_ADDCOLUMN DIALOG DISCARDABLE  0, 0, 209, 175
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Test two aligned columns"
FONT 8, "MS Shell Dlg"
BEGIN
    CTEXT           "TableID:",IDT_STATIC,10,10,57,12,SS_CENTERIMAGE |
                    SS_SUNKEN
    EDITTEXT        IDE_TABLEID,68,10,130,12,ES_MULTILINE | ES_AUTOHSCROLL |
                    WS_VSCROLL
    CTEXT           "ColumnID:",IDT_STATIC2,10,27,57,12,SS_CENTERIMAGE |
                    SS_SUNKEN
    EDITTEXT        IDE_COLUMNID,68,27,130,12,ES_AUTOHSCROLL
    CTEXT           "pwszTypeName:",IDT_STATIC3,10,44,57,12,SS_CENTERIMAGE |
                    SS_SUNKEN
    COMBOBOX        IDC_TYPENAME,68,44,130,150,CBS_DROPDOWN |
                    CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
    CTEXT           "wType:",IDT_STATIC4,10,61,57,12,SS_CENTERIMAGE |
                    SS_SUNKEN
    COMBOBOX        IDC_TYPE,68,61,130,150,CBS_DROPDOWN | CBS_AUTOHSCROLL |
                    WS_VSCROLL | WS_TABSTOP
    CTEXT           "ColumnSize:",IDT_STATIC6,10,78,57,12,SS_CENTERIMAGE |
                    SS_SUNKEN
    EDITTEXT        IDE_SIZE,68,78,130,12,ES_AUTOHSCROLL
    CTEXT           "Precision:",IDT_STATIC7,10,95,57,12,SS_CENTERIMAGE |
                    SS_SUNKEN
    EDITTEXT        IDE_PRECISION,68,95,130,12,ES_AUTOHSCROLL
    CTEXT           "Scale:",IDT_STATIC8,10,112,57,12,SS_CENTERIMAGE |
                    SS_SUNKEN
    EDITTEXT        IDE_SCALE,68,112,130,12,ES_AUTOHSCROLL
    CONTROL         "Use Properties",IDB_USEPROPERTIES,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,10,134,85,10
    PUSHBUTTON      "&Properties...",IDB_SETPROPERTIES,10,151,50,14
    DEFPUSHBUTTON   "OK",IDOK,90,151,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,140,151,50,14
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
    IDM_VDETAILS            "Include all possible details"
END
