name: "Check Build"

on:
  pull_request:
    paths-ignore:
      - src/art_src
      - src/tests
      - src/xml
      - src/import/rapidjson
      - tests
      - docs
      - import_tests
      - .github
  workflow_dispatch:

env:
  BUILD_TYPE: Release

jobs:
  clangFormat:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: DoozyX/clang-format-lint-action@v0.18
      with:
        source: './src'
        exclude: file
        extensions: 'h,cpp'
        clangFormatVersion: 18
        style: file

  check_build:
    runs-on: windows-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - run: mkdir ${{github.workspace}}/build

    - name: Configure CMake
      run: cmake -G "Visual Studio 17 2022" -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

    - run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}} --target check_build
