# name: "Daily Build"
name: "Weekly Build"

on:
  schedule:
    # - cron: '17 5 * * *'
    - cron: '0 23 * * 0'
  workflow_dispatch:

env:
  BUILD_TYPE: Release

jobs:
  buildWindows:
    uses: ./.github/workflows/build-win-reusable.yml
    with:
      create-setup: true
      build-type: Release

  buildUnix:
    uses: ./.github/workflows/build-unix-reusable.yml
    with:
      create-setup: true
      build-type: Release

  buildMacOS-ARM64:
    uses: ./.github/workflows/build-macos-reusable.yml
    with:
      create-setup: true
      build-type: Release
      runner-type: self-hosted-arm64

  buildMacOS-x64:
    uses: ./.github/workflows/build-macos-reusable.yml
    with:
      create-setup: true
      build-type: Release
      runner-type: github-hosted-x64
