name: PR Verification

# on:
  # workflow_dispatch:

on:
  pull_request:
    paths-ignore:
      - src/art_src
      - src/tests
      - src/xml
      - src/import/rapidjson
      - tests
      - docs
      - import_tests
      - .github
  workflow_dispatch:

env:
  BUILD_TYPE: Release

jobs:
  clangFormat:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: DoozyX/clang-format-lint-action@v0.20
      with:
        source: './src'
        exclude: file
        extensions: 'h,cpp'
        clangFormatVersion: 20
        style: file

  check-spelling:
    runs-on: ubuntu-latest
    name: Check Spelling

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Spell Check
        uses: crate-ci/typos@v1

  check-whitespace:
    runs-on: ubuntu-latest
    name: Check Whitespace

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Check for trailing whitespace and TABs
        run: |
            git fetch --depth=1 origin main
            git -c core.whitespace=blank-at-eol,blank-at-eof,space-before-tab,cr-at-eol,tab-in-indent \
                diff --check origin/main -- \
                'src/*.cpp' \
                'src/*.h' \
                'src/customprops/' \
                'src/custom_ctrls/' \
                'src/generate/' \
                'src/import/' \
                'src/internal/' \
                'src/mockup/' \
                'src/newdialogs/' \
                'src/nodes/' \
                'src/panels/' \
                'src/project/' \
                'src/tests/' \
                'src/tools/' \
                'src/ui/' \
                'src/utils/' \
                'src/winres/' \
                'src/wxue_namespace/' \
                'src/wxui/' \
                ':!src/pugixml/'

  check-eol:
    runs-on: ubuntu-latest
    name: Check Line Endings (LF only)

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dos2unix
        run: |
          sudo apt-get install -y dos2unix

      - name: Check all files use LF line endings
        run: |
            ./scripts/check_eol.sh

  buildUnix:
    uses: ./.github/workflows/build-unix-reusable.yml
    with:
      create-setup: false
      build-type: Release

  buildMacOS:
    uses: ./.github/workflows/build-macos-reusable.yml
    with:
      create-setup: false
      build-type: Release
      runner-type: self-hosted-arm64
