name: Verify clang-format

# on:
  # workflow_dispatch:

on:
  pull_request:
    paths-ignore:
      - src/art_src
      - src/tests
      - src/xml
      - src/import/rapidjson
      - tests
      - docs
      - import_tests
      - .github
  workflow_dispatch:

jobs:
  clangFormat:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: DoozyX/clang-format-lint-action@v0.18
      with:
        source: './src'
        exclude: file
        extensions: 'h,cpp'
        clangFormatVersion: 20
        style: file
