name: Verify clang-format

# on:
  # workflow_dispatch:

on:
  pull_request:
    paths-ignore:
      - src/art_src
      - src/tests
      - src/xml
      - src/import/rapidjson
      - tests
      - docs
      - import_tests
      - .github
  workflow_dispatch:

env:
  BUILD_TYPE: Release

jobs:
  clangFormat:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: DoozyX/clang-format-lint-action@v0.20
      with:
        source: './src'
        exclude: file
        extensions: 'h,cpp'
        clangFormatVersion: 20
        style: file

  buildUnix:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - run: mkdir ${{github.workspace}}/build

    - name: Install other dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y cmake ninja-build libgtk-3-dev ccache
        gcc --version
        cmake --version
        ccache --version

    - name: Setup ccache
      run: |
        ccache --set-config=cache_dir=${{runner.workspace}}/.ccache
        ccache --set-config=compression=true
        ccache --set-config=sloppiness=pch_defines,time_macros
        ccache --set-config=hard_link=true
        ccache --zero-stats
        ccache --show-config

    - name: Cache ccache
      uses: actions/cache@v4
      with:
        path: ${{runner.workspace}}/.ccache
        key: ${{ runner.os }}-ccache-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-ccache-

    - name: Cache CMake FetchContent
      uses: actions/cache@v4
      with:
        path: |
          ${{github.workspace}}/build/_deps
        key: ${{ runner.os }}-cmake-fetchcontent-${{ hashFiles('**/CMakeLists.txt') }}
        restore-keys: |
          ${{ runner.os }}-cmake-fetchcontent-

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

    - name: Build wxUiEditor
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}} --target wxUiEditor

    - name: Show ccache statistics
      run: ccache --show-stats
